<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.turl.community.dao.DiscussPostMapper">

    <sql id="selectFields">
        id,user_id, title, content, type, status, create_time, comment_count, score
    </sql>
    <sql id="insertFields">
        user_id, title, content, type, status, create_time, comment_count, score
    </sql>


    <select id="selectDiscussPosts" resultType="DiscussPost">
        SELECT id,user_id, title, content, type, status, create_time, comment_count, score
        FROM discuss_post
        WHERE status != 2
        <if test="userId!=0">
            AND user_id = #{userId}
        </if>
        ORDER BY type DESC, create_time DESC
        limit #{offset}, #{limit}
    </select>
    <select id="selectDiscussPostRows" resultType="int">
        SELECT COUNT(id)
        FROM discuss_post
        WHERE status != 2
        <if test="userId!=0">
            AND user_id = #{userId}
        </if>
    </select>

    <insert id="insertDiscussPost" parameterType="DiscussPost">
        INSERT INTO discuss_post (user_id, title, content, type, status, create_time, comment_count, score)
        VALUES (#{userId}, #{title},#{content},#{type},#{status},#{createTime},#{commentCount},#{score})
    </insert>

    <select id="selectDiscussPostById" resultType="DiscussPost">
        SELECT id,user_id, title, content, type, status, create_time, comment_count, score
        FROM discuss_post
        WHERE id = #{id}
    </select>

    <update id="updateCommentCount">
        UPDATE discuss_post SET comment_count = #{commentCount} WHERE id = #{id}
    </update>
</mapper>